@charset "utf-8";

body {
    background-color: #eeeeee;
}

div {
    max-width: 960px;
    margin: 0 auto;
}

img {
    width: 100%;
}

h1 {
    padding: 60px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    color: #008080;
}

h2 {
    margin: 8px;
    padding: 1px;
    color: #008080;
    border-left: solid 10px #008080;
}

ul {
    padding: 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
li {
    background-color: #fff;
    margin: 0 auto;
    padding: 0;
    width: 30%;
}
p {
    line-height: 25px;
}

@media screen and (max-width: 400px) {
    ul {
        flex-direction: column;
    }
    li {
        width: 100%;
    }
}
